<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">

        <H3>Información General</H3>

        <div class="campo">
            <label>Título</label>
            <input type="text" name="titulo" placeholder="Ej.: VBA Developer" value="{{vacante.titulo}}" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Ej.: Microsoft" value="{{vacante.empresa}}" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" placeholder="Ej.: Madrid o Remoto" value="{{vacante.ubicacion}}" required>
        </div>
        <div class="campo">
            <label>Salario</label>
            <input type="text" name="salario" placeholder="Ej.: 40.000 €" value="{{vacante.salario}}" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                {{#tipoContrato vacante.contrato}}
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Tiempo Completo">Tiempo Completo</option>
                    <option value="Media Jornada">Media Jornada</option>
                    <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>
        <h3>Descripción del puesto</h3>
        <div class="campo descripcion">
            <label>Descripción</label>
            <input type="hidden" name="descripcion" value="{{{vacante.descripcion}}}" id="x">
            <trix-editor input="x"></trix-editor>
        </div>

        <h3>Conocimientos</h3>

        <ul class="lista-conocimientos">
            {{#seleccionarSkills vacante.skills}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>